<?xml version="1.0"?>
<configuration>
  <system.windows.forms jitDebugging="true" />
  <appSettings>
    <add key="Q1CS" value="http://www.google.fr" />
    <add key="ORTHALIS" value="C:\Program Files\Dentasia\Orthalis\Orthalis.exe" />
    <add key="ORQUALCEPH" value="C:\Program Files\Dentasia\OrqualCeph\OrqualCeph.exe" />
    <add key="RHBASE" value="C:\Dev\RHBASE\RHBASE\Calendar\bin\Debug\RHBas.exe" />
    <add key="BASEVIEW" value="C:\Dev\BASEVIEW\BASE_VIEW\bin\Debug\BASE_VIEW.exe" />
    <add key="BASEDiag" value="notepad" />
    <add key="BASEContact" value="notepad" />
    <add key="BASELetter" value="notepad" />
    <add key="BASELabo" value="notepad" />
    <add key="SiteUrgence" value="notepad" />
    <add key="DIAPOLARESERVE" value="Z:\La réserve\La Réserve.pps" />
    <add key="DIAPOINVISALIGN" value="Z:\La réserve\PB\La réserve cas similaires\INVISALIGN\INVISALIGN.pps" />
    <add key="DIAPOESTHETIQUE" value="Z:\La réserve\PB\La réserve cas similaires\ESTHETIQUE\ESTHETIQUE.pps" />
    <add key="DIAPOCASCLINIQUE" value="Z:\La réserve\La réserve - cas cliniques.pps" />
    <add key="SUIVIINFO" value="Z:\La réserve\Procédures\Procédures Dép annages\Commande cabinet.xls" />
    <add key="SUIVIHORN" value="Z:\La réserve\Procédures\Procédures Dépannages\HORN.xls" />
    <add key="SUIVIYUNG" value="Z:\La réserve\Procédures\Procédures Dépannages\IUNG.xls" />
    <add key="PBLOGICIEL" value="Z:\La réserve\Procédures\Procédures Dépannages\PBLOGICIEL.xls" />
    <add key="DOSSIERCASSIM" value="Z:\La réserve\PB\La réserve cas similaires" />
    <add key="DOSSIERCABINET" value="Z:\1 Ortho design\1 Le cabinet d'ODF" />
    <add key="LABSBASLABO" value="http://www.labobalignsmile.com/" />
    <add key="LABSINVLOCAL" value="Z:\Patient Database v2\Patient Database v2\pbergeyr" />
    <add key="LABSINVINTERNET" value="http://vip.invisalign.com" />
    <add key="LABSCAHIERPROTHESE" value="Z:\La réserve\Procédures\Tabeaux excel\Cahier PROTHESE.xls" />
    <add key="LABSCAHIEROCCL" value="Z:\La réserve\Procédures\Tabeaux e xcel\Cahier OCCLUSEURS.xls" />
    <add key="LABSCAHIERINVI" value="Z:\La réserve\Procédures\Tabeaux excel\Cahier INVISALIGN.xls" />
    <add key="BASCOMMANDEBASSITE" value="http://www.balignsmile.com/" />
    <add key="BASCOMMANDECLINIQUE" value="Z:\La réserve\Procédures\Tabeaux excel\Tableau de gestion des achats cliniques.xls" />
    <add key="BASCOMMANDESECRETARIAT" value="Z:\La réserve\Procédures\Tabeaux excel\Tableau de gestion des achats secrétariats.xls" />
    <add key="SITEISFESO" value="http://serveur/isfeso" />
    <add key="SITELARESERVE" value="http://www.lareservebandol.com/" />
    <add key="SITEBAS" value="http://www.balignsmile.com/" />
    <add key="SITEBASLABO" value="http://www.labobalignsmile.com/" />
    <add key="SITETOULONSOURIRE" value="http://www.toulonsourire.com/" />
    <add key="SITEFORMATION" value="http://www.balignsmileformation.com/" />
    <add key="URGENCEPROCEDURE" value="Z:\La réserve\Procédures\Procédures Dépannages" />
    <add key="URGENCENUM" value="Z:\La réserve\Procédures\Procédures Dépannages\Numéros de dépannage.doc" />
    <add key="URGENCEACCIDENT" value="Z:\La réserve\Procédures\Procédures Dépannages\Numéros de dépannage.doc" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WS_BASELaboSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="50000000" maxBufferPoolSize="524288" maxReceivedMessageSize="50000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2681/WS_BASELabo.asmx" binding="basicHttpBinding" bindingConfiguration="WS_BASELaboSoap" contract="BaseLaboOnBaseProduct.WS_BASELaboSoap" name="WS_BASELaboSoap" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceViewEventBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>