<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Orthalis_DataSource" value="localhost" />
    <add key="Orthalis_Database" value="C:\Program Files\Dentasia\Orthalis\database\credo.gdb" />
    <add key="Orthalis_UserID" value="SYSDBA" />
    <add key="Orthalis_Password" value="masterkey" />
    <add key="Orthalis_Dialect" value="3" />
    <add key="KitView_DataSource" value="localhost" />
    <add key="KitView_Database" value="C:\Orqual\Kitview\DATABASE\CLASSEUR.GDB" />
    <add key="KitView_UserID" value="SYSDBA" />
    <add key="KitView_Password" value="masterkey" />
    <add key="KitView_Dialect" value="3" />
    <add key="PHOTO_FOLDER_PATH" value="C:\Orqual\Kitview\DATA"/>
    <add key="TEMPLATE_FOLDER" value="C:\tmp\Nouveau modeles"/>
    <add key="DEVIS_FOLDER" value="C:\tmp\Nouveau modeles\BaseDiag\devis"/>
    <add key="PPTFolder" value="C:\temp\EyeFiSim"/>
    <add key="HelpFolder" value="C:\temp\BASEDiagHelp"/>





    <add key="CourrierPreAnalyse" value="C:\tmp\Nouveau modeles\BaseDiag\PreAnalyse.bvm"/>
    <add key="CourrierAnalyseMasqueFacial" value="C:\tmp\Nouveau modeles\BaseDiag\MasqueFacial.bvm"/>
    <add key="CourrierAnalyseFaceSourire" value="C:\tmp\Nouveau modeles\BaseDiag\AnalyseFaceSourire.bvm"/>
    <add key="CourrierAnalyseOcclusal" value="C:\tmp\Nouveau modeles\BaseDiag\AnalyseProfil.bvm"/>
    <add key="CourrierAnalyseArcades" value="C:\tmp\Nouveau modeles\BaseDiag\AnalyseProfil.bvm"/>
    <add key="CourrierAnalyseSourire" value="C:\tmp\Nouveau modeles\BaseDiag\AnalyseProfil.bvm"/>
    
    <add key="CourrierAnalyseProfil" value="C:\tmp\Nouveau modeles\BaseDiag\AnalyseProfil.bvm"/>
    <add key="CourrierAnalyseCephalo" value="C:\tmp\Nouveau modeles\BaseDiag\Cephalo.bvm"/>
    <add key="CourrierAnalysePano" value="C:\tmp\Nouveau modeles\BaseDiag\AnalysePano.bvm"/>





    <add key="Attr_Portrait" value="Portrait" />
    <add key="Attr_Face" value="Face" />
    <add key="Attr_Profil" value="Profil" />
    <add key="Attr_Sourire" value="Sourire" />
    <add key="Attr_Intrabuccale" value="Intrabuccale" />
    <add key="Attr_Moulage" value="Moulage" />
    <add key="Attr_Maxillaire" value="Maxillaire" />
    <add key="Attr_Mandibulaire" value="Mandibulaire" />
    <add key="Attr_Droite" value="Droite" />
    <add key="Attr_Gauche" value="Gauche" />
    <add key="Attr_Radio" value="Radio" />
    <add key="Attr_Surplomb" value="surplomb" />
    <add key="Attr_Panoramique" value="Panoramique" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>